---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<a href=" ">
<img alt="February 2020 Mission February 2020" height="675" sizes="(max-width: 1080px) 100vw, 1080px" src="/wp-content/uploads/2018/10/GenevieveCote-Operating-1080x675.webp" width="1080"/>
</a>
<h2>
<a href=" ">
                     February 2020 Mission February 2020
                    </a>
</h2>
<p>
<span>
                     29 September 2019
                    </span>
</p>
                 February 2020 Our February 2020 Mission took place at the Julia Hospital in Jamkhed. Over the past year, we carried out the medical evaluation of hundreds of people, from which we selected 150 patients judged to be of the highest priority. Here are the members who...
                </article>
<article>
<a href=" ">
<img alt="2019 Fundraising Dinner – Freedom from Poverty Foundation" height="675" src="/wp-content/uploads/2018/10/Family-04.webp" width="1080"/>
</a>
<h2>
<a href=" ">
                     2019 Fundraising Dinner – Freedom from Poverty Foundation
                    </a>
</h2>
<p>
<span>
                     28 September 2019
                    </span>
</p>
                 November 2nd – 7985 Maurice-Duplessis Blvd., Montreal Details Come to discover the dedicated, compassionate people who are working to forge a better future for the poor in the region of Jamkhed, India. Join us for this unforgettable evening steeped in Indian culture....
                </article>
<div>
<div>
</div>
<div>
</div>
</div>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a aria-current="page" href="index.html">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
