---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     Suyagya Vasishta Arya Mission 2023 – FFPF Mission February 2023
                    </h1>
<p>
<span>
                        27 September 2022
                     </span>
</p>
</div>
<div>
<p>
                     After the spread of the Covid-19 disease, which started in early 2021, three surgical missions had to be cancelled. The funds that had been earmarked for these missions were used to provide the village of Jamkhed with materials for the prevention and treatment of Covid-19: oxygen, intravenous drugs, masks, and facilities for quarantine. The houses in the rural villages are very small and have only one room, so isolation is impossible.
                    </p>
<p>
                     Thanks to the funds the Freedom from Poverty Foundation raised during the November 2022 fundraising dinner, 3 humanitarian surgery missions have been carried out. Indeed, our surgical camps resumed this year after a 2-year break following the Covid. In February, 11 professionals from the greater Montreal area went to Jamkhed, India.
                    </p>
<p>
                     All our camps are held at Julia’s Hospital in Jamkhed, Maharashtra. Several hundred people have undergone surgery. The surgeries we do (perform or execute) help change the future of these people.
                    </p>
<p>
                     For example, they can walk or regain the use of a hand lost in an accident.
                    </p>
<p>
                     In addition, our pharmacists have worked with village pharmacists to improve the management of high-risk medicines to create algorithms and carts for using medicines in emergencies.
                    </p>
<p>
                     We performed mostly orthopedic surgeries with the aim of restoring a person’s functionality to break the cycle of poverty.
                    </p>
<p>
                     Here are the members who participated in the February 2023 mission:
                    </p>
<p>
                     In February 2022, The Freedom from Poverty Foundation sent our mission to the village of Jamkhed. We sent sixteen professionals from Montreal.
                    </p>
<p>
                     The team scheduled for February 2023
                    </p>
<table style="width: 633px;">
<tbody>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Bruno Mastropasqua
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Surgeon
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Dr Jason
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Anaesthesiologist
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Dr. Dwivedi
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Anaesthesiologist
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Nathalie Deichendes
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Nurse
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Alex Somma
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
<span style="font-weight: 400;">
                             Communications
                            </span>
</td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Sabrina Sanzari
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Pharmacist
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Claudine levesque
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Coordonnateur
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Vinod Dargan
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
                            Project Manager
                         </td>
</tr>
<tr style="height: 9.5625px;">
<td style="width: 313.25px; height: 9.5625px;">
<span style="font-weight: 400;">
                             Geneviève côté:
                            </span>
</td>
<td style="width: 302.75px; height: 9.5625px;">
                            Anaesthesiologist
                         </td>
</tr>
<tr style="height: 51px;">
<td style="width: 313.25px; height: 51px;">
<span style="font-weight: 400;">
                             Nathalie Brisebois:
                            </span>
</td>
<td style="width: 302.75px; height: 51px;">
                            Occupational Therapist
                         </td>
</tr>
<tr style="height: 23px;">
<td style="width: 313.25px; height: 23px;">
<span style="font-weight: 400;">
                             Michelle Bonapathie
                            </span>
</td>
<td style="width: 302.75px; height: 23px;">
<span style="font-weight: 400;">
                             Résident
                            </span>
</td>
</tr>
</tbody>
</table>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
