---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     22nd Annual Freedom from Poverty Foundation
                    </h1>
<p>
<span>
                        9 November 2020
                     </span>
</p>
</div>
<div>
<p>
                     Fundraising Dinner
                    </p>
<p>
                     The Freedom From Poverty Foundation held its’ 22nd annual fundraising dinner on Sat. Nov.2,2019 at Le Chateaubriand.
                    </p>
<p>
                     At the 22nd FFPF dinner over 250 guests enjoyed a wonderful evening of great food, dancing and festivities. The 22nd FFPS dinner guests  raised money and sponsored patients for the Foundation’s 2020 surgical mission to Jamkhed, India. Thanks to our sponsors and donors all the patients who needed surgeries will be able to get the care that they need!!
                    </p>
<p>
                     We would like to thank all our sponsors, guests and donors for another very successful fundraiser!
                    </p>
<p>
<img alt="2019 FFPF Dinner Guests" decoding="async" fetchpriority="high" height="1482" src="https://lh3.googleusercontent.com/fife/ABSRlIpuuw-V_spB8v0CoOAx7cnV9ixACTy3er-PkTyi65Dl-6SdYg2vuYfrhdjGdiJqgxLRg2qL23ghvXUa9sxdiNBYsaeLMPkUKf_AN0om_bmqJ5_1ibagK8ISbVyIkziYht4FfrMld4iPq7la8nW4W65qY3Sw1AW5JX_C0bWmKpe5NodFAX5kmMSw5cyStkXMWHn_p1i9ldjPF8jk8dkVZhnMI2n8JNgvQp-HNAPJW2IxFBanoD-is90LQJF9B3gqIcEX8TNRIys507aXgDb3GGhjbVcQr8Y9MHnAh4JWq8e-3ZRWnv1xYk9P74l_ITi2jugPZ-gnZ-ACYvjQtrh_p9sC-GtVSfSLF5KZi7RI_FD41VjsRv7f5wrpVdrfZZCty2CZytpwmnyPPN_Lxtr-D7GpON3MlHonVhAypJJ8Oq3DHsgYyetpasuIdMCLr-EEezi-L-CjNRVD1YEFsvxAerEcoheZrS_wKlm7Lm80AfLY9uG2Wz9L7Gf6E34l92m4ejSbnnqLXFxBlUueXI36wy5xRcmu6jIfYRi02g9ZyFpqMrlN8Du1PuLscwuxcMyAFDt8SUvSffM6a9MPR0E9bhQzWS3AevqRJUM16hxe-TaftlWfucIzNPiJv6qPbgHZxKlWeG9FqvCk_-Ia7Q8rMvkQeeatLH-Mq95dIALqopxOwo2KlyzHC5RZJqwOxqXjb_6BP6dx-GCDf04=w2224-h1482-no.webp?authuser=2" width="2223"/>
<img alt="FFPF 2019 Dinner Speakers" decoding="async" height="1482" loading="lazy" src="https://lh3.googleusercontent.com/fife/ABSRlIpjvd2SfktaZtAFRtDbWUAjdQQxH7jp93S5hK8_UzGBOutX4-SKGj87gZQ3otkN0kcG-WAB-QgtdGDdTG04vqP0FLWPjnoxIU9WmBR46OCaW1jOtM80MNyNhcbgfrrcZDfxWk2w3VPzpykHq_Xvo1ZUOCm8R1N7LgQtjWb99WMKQuhkz0vr4iuU_WREXvxKSSpdQW9x8CFDPklAiqtfP5Fm3mK3af0ZW-qS7JvwPNcA6YZpsJyEYvPx2u7tgvhoFrsUDagnB2d_B7FVW3uGj0UnboGpB6fzsDAMaMneAobAAN2607DG834BIsiLIPDV6TTLOXTA6Fe5OC-jrIyE_PkmKwTBqnm2qkS_kTZykt4qWH7IiPU6SFPmk84duN_jYdMCvrNlqEFO8BkrVaY9HGfg69f4bYWsuVCqlf_34I84arEGlwzmRurROvOTo245jXpVHrX3sIGmHnITKbV4OrXyOLQTpE5fPpezlBtFg3n5WyBj9Gtbx6ObRPjyN_UYtskbUmBlZOF3Z_cZot7_BiId-eE0oBvYtPI7Bu84nBgtrvSl5Q6tlViaivDkf64WkipJDRiXhcbgRYOcpNoyjpy8h_SQNO_BS1tSYF1O_g_jVtYZsuGhGOyLqsLxzkFxvsJSbrl48QOoIMYbZpzNRhTfELtzWuxMPGhSXr3tJvVy85tIqZQf_td3infZV8iB13UeiHjmvhsXR0I=w2224-h1482-no.webp?authuser=2" width="2223"/>
<img alt="FFPF 2019 Dinner Speakers" decoding="async" height="1482" loading="lazy" src="https://lh3.googleusercontent.com/fife/ABSRlIqTnRpvxyyCvbNvxXsFQtsbWf9eJdSpcTinPGzEtPUCuAV9obHMqt5ylNMHJCM5e_SncFL0HqvymEjUWrDGY-fh5VEecqWmkxpGwQgjWivH3u3v1fuf13TiLpvwyqzjaya9ze9Fu4brh6AVPInC6QY_gGrV-2eFEVpOqT1BtBrXWEvcr_MzlXv8x5HtZnRcCBpvwQB5ASYnZHZJYCDckI6ncH6inMc6UIExDNCZV_KMU_xPvko-BZnKg0OR8q8mnse-whiYicghE34FMLDZwoxiXYNdt6B6sdPjH0F6d2AXPw1yJcu93HbMV_GHmBWSUM6ywfVrJuljlANJY0yslb1kECxzjXiPeskW45g7-PrzI7-sbB1xD_URWM7DJBmJt-gDom1D7aIkCct9zHcoR1ZHPSRG2e8dkS3COTpxczfmfvu-CiafO-uBNtnMc2dGaltrR2oiBb3um9aGh6lKD5zNwVpVucErhAskBmZAdlhTjdpjyr8fy1KKvrEjEAhtDAAJRi_4sFOoimv53DsEAF0fLTu_iCFkiYyZP7tD0sZhNyqYAmD_V5P51eYPSER_IjFKizAy9JJM-S88DhKnMXu_Tr2QscsGEV-mEz_d20EzLsfLgzwztb9MZtWLQdORQqIOMKClO1J86uq4YrJ7K_YGzd2bhBvgwvFr_hi55PiypssLROMT5hjpegquTybcmzy_m0xuursTsJP0=w2336-h1482-no.webp?authuser=2" width="2336"/>
</p>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
