---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     Feb 5 2024
                    </h1>
<p>
<span>
                        5 February 2024
                     </span>
</p>
</div>
<div>
<p>
<span style="font-weight: 400;">
<img alt="FFPF 2024 February Camp" decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/1-1024x576.webp" width="1024"/>
</span>
</p>
<p>
<span style="font-weight: 400;">
                        As dawn broke, our team, eager to greet the day with vitality, set out on the quaint trails leading towards Jamkhed. The early morning walk, a harmonious blend of gentle exercise and camaraderie, allowed them to stretch their limbs and immerse themselves in the tranquility of nature. The highlight was witnessing the magnificent sunrise, a serene moment that perfectly set the tone for the bustling day ahead. Following their rejuvenating walk, the team gathered in the garden, where a delicious breakfast awaited. Over comforting cups of chai, they shared in the joy of planning the day’s endeavors, each sip and bite fueling their enthusiasm for the tasks that lay ahead.
                     </span>
<span style="font-weight: 400;">
<br/>
</span>
</p>
<p>
<span style="font-weight: 400;">
                        In the surgical camp, over ten patients have undergone transformative procedures, promising to vastly improve their daily lives. Meanwhile, in the dental camp, close to a hundred individuals received thorough assessments and treatments, leaving not only with brighter smiles but also with dental kits in hand. United in purpose, every member of both camps diligently worked together, embodying the core values of FFPF and CRHP: to provide equitable care, transcending boundaries of gender, age, faith, and social status, ensuring that every patient is treated with the same respect and dignity.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        As the day drew to a close and the sun dipped below the horizon, our Canadian team of health professionals gathered in the serene garden to unwind. In this tranquil setting, they exchanged stories of the day’s triumphs and lessons learned, each tale punctuated by shared laughter and reflective moments. Clutching cups of their preferred drinks, they recharged their spirits, readying themselves for the new faces and stories that awaited them with the dawn.
                     </span>
</p>
<p style="text-align: center;">
<button style="border-radius: 50%; width: 200px; height: 200px; border: none; color: white; font-family: Avenir, Arial, sans-serif; font-weight: 900; font-size: 2.5rem; background: red; text-shadow: 0 3px 1px rgba(122,17,8,.8); box-shadow: 0 8px 0 #b70900, 0 15px 20px rgba(0,0,0,.35); text-transform: uppercase; transition: .4s all ease-in; outline: none; cursor: pointer; text-align: center; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);">
                        Donate Today
                     </button>
</p>
<p>
<img alt="As the first light of dawn illuminated Jamkhed, our Canadian team, invigorated by a serene walk, set the stage for a day of transformative healing. In the surgical and dental camps, they dedicated their expertise to over a hundred patients, each procedure a step towards a brighter future for those under their care. As dusk embraced the sky, reflections on the day's accomplishments centered around the lives touched and improved." decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/7-1024x576.webp" width="1024"/>
</p>
<div>
<dl>
<dt>
<a href="img_2608/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_2608-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_2626/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_2626-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_2680/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_2680-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<br style="clear: both"/>
<dl>
<dt>
<a href="img_2673/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_2673-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_2739/">
<img alt="" decoding="async" height="203" loading="lazy" src="/wp-content/uploads/2024/02/IMG_2739-300x203.webp" width="300"/>
</a>
</dt>
</dl>
<br style="clear: both"/>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a aria-current="page" href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
