---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     2019 Fundraising Dinner – Freedom from Poverty Foundation
                    </h1>
<p>
<span>
                        28 September 2019
                     </span>
</p>
<img alt="" height="675" src="/wp-content/uploads/2018/10/Family-04.webp" width="1080"/>
</div>
<div>
<div>
</div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<h5>
                                     November 2nd –
                                     <a href="https://goo.gl/maps/Gu29NVYTvEL2" rel="noopener noreferrer" target="_blank">
                                        7985 Maurice-Duplessis Blvd., Montreal
                                     </a>
</h5>
</div>
</div>
</div>
</div>
<div>
<div>
<div>
<div>
<h4>
                                     Details
                                    </h4>
<p>
                                     Come to discover the dedicated, compassionate people who are working to forge a better future for the poor in the region of Jamkhed, India. Join us for this unforgettable evening steeped in Indian culture. You will enjoy regional cuisine with an open bar and dance to the soundtrack of our DJ. This is what we call combining business with pleasure!
                                    </p>
<p>
<img alt="" decoding="async" height="157" sizes="(max-width: 236px) 100vw, 236px" src="/wp-content/uploads/2018/10/Family-04-300x200.webp" width="236"/>
                                     The money raised will fund future surgical missions in Jamkhed. These profits will help families to obtain the tools necessary to break the cycle of poverty in which they have been too long confined.
                                    </p>
</div>
</div>
</div>
<div>
<div>
<div>
<h4>
                                     To purchase tickets:
                                    </h4>
<p>
                                     Vinod Dargan:
                                     <a href="/cdn-cgi/l/email-protection#364052574451575876405f52535942445958185557" rel="noopener noreferrer" target="_blank">
<span data-cfemail="e791838695808689a7918e83828893958889c98486">
                                         [email protected]
                                        </span>
</a>
<br/>
                                     Dominic Talarico: 514 794-7800
                                    </p>
<p>
<strong>
                                        Cost:
                                     </strong>
<br/>
<strong>
                                        $125 per person
                                     </strong>
<br/>
<strong>
                                        $1250 for 10 people
                                     </strong>
</p>
</div>
</div>
<div>
<a href="/donate/">
                                    Make a donation
                                 </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
