---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<a href="/fr">
<img alt="2018 FUNDRAISING DINNER" height="675" src="/wp-content/uploads/2018/10/Family-04.webp" width="1080"/>
</a>
<h2>
<a href="/fr">
                     2018 FUNDRAISING DINNER
                    </a>
</h2>
<p>
<span>
                     4 May 2018
                    </span>
</p>
                 Fundraising Dinner – Freedom from Poverty Foundation November 24 – 7985 Maurice-Duplessis Blvd., Montreal Details Come to discover the dedicated, compassionate people who are working to forge a better future for the poor in the region of Jamkhed, India....
                </article>
<div>
<div>
</div>
<div>
</div>
</div>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/11/">
                        November 2018
                     </a>
</li>
<li>
<a aria-current="page" href="index.html">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
