---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     UP COMING MISSION DECEMBER 2018
                    </h1>
<p>
<span>
                        5 November 2018
                     </span>
</p>
<img alt="" height="675" sizes="(max-width: 1080px) 100vw, 1080px" src="/wp-content/uploads/2018/10/GenevieveCote-Operating-1080x675.webp" width="1080"/>
</div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<h1 id="up">
                                    Up coming mission
                                 </h1>
<h4>
                                    december 2018
                                 </h4>
</div>
</div>
<div>
<div>
<p>
                                    We are now preparing for the December 2018 camps that will take place at the Julia Hospital in Jamkhed. Over the past year, we have carried out the medical evaluation of hundreds of people, from which we have selected 150 patients judged to be of highest priority.
                                 </p>
</div>
</div>
<div>
<div>
<h5>
                                    Here are the members who will participate in the
                                 </h5>
<h2>
                                    December 2018 mission
                                 </h2>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
