<!DOCTYPE html>
<html lang="{{ metadata.language }}">

  <head>
    {% include "./base/head.html" %}
  </head>

  <body style="
      --minh: 100vh;
      --maxw-md: 80rem;
      --m: auto;
      --d: flex;
      --fd: column;
      --jc: space-between;
      --primary: hsl(358deg 84% 52%);
      --links: var(--primary);
      --typo-size-6: 12px;
      font-size: var(--typo-size-5);
    ">


  

    <header
      style="--w-xl: calc(100vw + 1rem); --t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) + 0rem)); --z: 1000">
      <a href="#skip" style="--d: none">Skip to main content</a>
      <a class="home-link" style="--d: none" href="/">{{ metadata.title }}</a>
      {% include "./base/nav_en.html" %}
    </header>

    <main style="--z: 10" id="skip">
      {% if title and big_image %}
      <section aria-roledescription="Title Card" style="
          --w-xl: calc(100vw + 0%);
          --t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) + 0rem));">
        <figure style="--br: 5px; --of: hidden; --grad: 0deg; --pos: relative; --w:100%">
          <img src="{{ big_image }}" alt="sample" style="--minh: 12rem; --objf:cover" />
          <figcaption style="--d: flex; --fd:column; --jc: center; --ai: center; --inset: 0; --pos: absolute">
            <h1
              style="{% if big_image_offset %}--mt:{{ big_image_offset }};{% endif %} --c: white; --ts: black 1px 0 10px">
              {{ title }}</h1>
            <span style="--c: white; --ts: black 1px 0 10px"> {{ subtitle }} </span>
          </figcaption>
        </figure>
      </section>
      {% endif %}
      <section aria-roledescription="Main Content" style="
          --p: 0 1rem;">{{ content }}</section>
    </main>

    <!-- Footer -->
    <footer style="
        --w-xl: calc(100vw + 1rem);
        --t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) + 0rem));
        --bg: #333;
        --c: white;
        --p: 20px;
      ">
      <p style="--m: 10px 0">
        <a style="--c: white" href="/contact/">Contact</a><br />
        <a href="https://www.facebook.com/freedomfrompoverty/" target="_blank"
          style="--c: white; --td: none; --f: block; --ft: right; --m: 1em">
          Follow us on facebook
          <b style="--bg: white; --c: #333; --p: 0 0.3em; --m: 0.2em">f</b>
        </a>
      </p>

      <p></p>
      <p style="--m: 10px 0">
        Copyright © Freedom From Poverty Foundation<br />
      </p>
      <p href="#contact" style="--m: 10px 0">Contact: Dr.S.D.Dwivedi 514 946-1716</p>
    </footer>
  </body>
  {% include "../plugins/google_translate.html" %}
</html>