<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link href="get-involved" rel="canonical"/>

		<meta content="en_US" property="og:locale"/>
		<meta content="fr_CA" property="og:locale:alternate"/>
		<meta content="website" property="og:type"/>

		<meta content="{{ metadata.title }}" property="og:title"/>
		<meta content="{{ description or metadata.description }}" property="og:description"/>
		<meta content="{{ metadata.url }}" property="og:url"/>
		<meta content="{{ metadata.name }}" property="og:site_name"/>
		<meta content="{{ metadata.big_image| default("https://www.ffpf.org/wp-content/uploads/2018/10/logo-ffpf.webp") }}" property="og:image"/>
		<meta content="summary_large_image" name="twitter:card"/>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" name="viewport"/>

		<link href="/wp-content/uploads/2018/10/cropped-logo-ffpf-icon-32x32.png"
			rel="icon"
			sizes="32x32"
		/>
		<link href="/wp-content/uploads/2018/10/cropped-logo-ffpf-icon-192x192.png"
			rel="icon"
			sizes="192x192"
		/>
		<link href="/wp-content/uploads/2018/10/cropped-logo-ffpf-icon-180x180.png"
			rel="apple-touch-icon"
		/>
		<meta
			content="https://www.ffpf.org/wp-content/uploads/2018/10/cropped-logo-ffpf-icon-270x270.png"
			name="msapplication-TileImage"
		/>

		<link href="https://startr.style/style.css" rel="stylesheet"/>
		<style>
			nav a{
				color:#888;
			}
			nav li li{
				padding: 0.5em 1em;
			}

			nav li li:hover{
				color:#ed1c24;
				background-color: #eee;
			}

			li[style*="--cur:pointer"]:hover > ul {
				display: block !important;
				height: auto !important;
				animation: fadeIn 0.6s;
			}

			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		</style>
	</head>
	<body style="--minh:100vh;--maxw-md: 80rem; --m: auto; --d:flex; --fd:column; --jc:space-between">
		<a href="#skip" style="--d:none"Skip to main content</a>

		<header style="	--w-xl: calc(100vw + 1rem);
    					--t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) - 0rem));">
			<a class="home-link" style="--d:none" href="/">{{ metadata.title }}</a>

			<nav style="--bg:var(--oklch-lch-4); --m:0 auto; --maxw:var(--size-10);">
				<a href="/">
					<img alt="FFPF" src="/wp-content/uploads/2018/10/logo-ffpf.webp" 
				 		style="--p:0.6em"></a>

				<ul style="--d:flex; --jc:space-evenly; --ai:center; --list:none; --m:0;">
				<li style="--cur:pointer;">
					<a style=" --p:1em" href="/about-us/">About Us</a>
					<ul style=" --d:none; --list:none; --p:1em; --pt:0.8em;
						--m:0; --bgc:white; --pos:absolute; 
						--bt:4px solid #ed1c24">
						<li><a href="/about-us#history">Our History</a></li>
						<li><a href="/about-us#vision">Our Vision
						<li><a href="/about-us#values">Our Values</li>
						<li><a href="/about-us#partnership">Partnership</li>
						<li><a href="/about-us#board">Board of Directors</li>
					</ul>
				</li>

				<li style=" --cur:pointer;"><a style=" --p:1em" href="/mission">Mission</a>
					<ul style=" --d:none; --list:none; --p:1em; --pt:0.8em;
						--m:0; --bgc:white; --pos:absolute; 
						--bt:4px solid #ed1c24">
						<li><a href="/mission#upcoming">Upcoming Mission</a></li>
						<li><a href="/mission#past">Past Mission</a></li>
						<li><a href="/mission#covid-19">Covid-19</a></li>
						<li><a href="/mission#sponsorship">Sponsorship</a></li>
					</ul>
				</li>

				<li style=" --cur:pointer;"><a style=" --p:1em" href="/get-involved">Get Involved</a>	
					<ul style=" --d:none; --list:none; --p:1em; --pt:0.8em;
						--m:0; --bgc:white; --pos:absolute; 
						--bt:4px solid #ed1c24">
						<li><a href="/get-involved#volunteer">Be a Volunteer</a></li>
						<li><a href="/get-involved#apply">How to Apply?</a></li>
						<li><a href="/get-involved#fundraising">Fundraising</a></li>
						<li><a href="/get-involved#make_a_donation">Make a Donation</a></li>
					</ul>
				</li>


				<li style="--cur:pointer; --p:1em">Français</li>
				</ul>
			</nav>
		</header>

		<main id="skip">
			<section>
				<h1>{{ title }}</h1>
				<div class="accent primary" style="--mb: 1.5rem; --pos: relative; --pt: 75%">
        <div style="--pos: absolute; --inset: 0"><img alt="Aliquam erat volutpat" src="https://source.unsplash.com/random/300x400" style="--objf: cover; --h: 100%; --w: 100%"></div>
        <div style="--p: 1rem">
          <button aria-label="Sample Button" class="white" style="--w: 100%">Sign in</button>
          <button aria-label="Sample Button" style="--w: 100%; --bc: var(--primary)">Create
              an account</button>
        </div>
      </div>
	  </section>
	  <section>
		{{ content | safe }}
		</section>
		</main>

		<!-- Footer -->
		<footer style="	--mt: 2rem;
						--w-xl: calc(100vw + 1rem);
    					--t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) - 0rem));
						--bg:#333; --c:white; --p:20px; ">
			<p style="--m:10px 0;">
				<a style="--c:white" href="/contact/">Contact</a><br>
				<a href="https://www.facebook.com/freedomfrompoverty/" 
				target="_blank" 
				style="--c:white; --td:none;  --f:block; --ft:right; --m:1em">
					Follow us on facebook
				<b style=" --bg:white;--c:#333;--p:0 0.3em; --m:0.2em">f</b>
				</a>
			<p>
			<p style="--m:10px 0;">
				Copyright © Freedom From Poverty Foundation<br>
				Contact: Dr.S.D.Dwivedi 514 946-1756
			</p>
			<p href="#contact" style="--m:10px 0;">
				Contact: Dr.S.D.Dwivedi 514 946-1716
			</p>
		</footer>
	</body>
</html>