---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     Feb 9 2024
                    </h1>
<p>
<span>
                        9 February 2024
                     </span>
</p>
</div>
<div>
<p>
<span style="font-weight: 400;">
<img alt="FFPF 2024 February Camp" decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/1-1024x576.webp" width="1024"/>
</span>
</p>
<p>
<span style="font-weight: 400;">
                        This last day of surgical and dental camp was filled with kindness, love and hope. All patients who received surgical care were seen in the morning by the medical team to ensure uncompromised post-operation and recovery. A few surgeons got involved and even inflated a few surgical gloves to create personalized balloons for each child. This little magical thought helped to alleviate the anticipation and/or fear when removing the dressings and above all to create happy patients.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        In total, there were nearly 600 dental cases and more than fifty surgical cases which were treated by health specialists. This year was a success like the previous years. The generous help of everyone made it possible to create a new beginning for the patients who presented themselves and made it possible to create bonds that will be difficult to forget. We would like to thank the precious help of our donors, the Dwivedi-Sareen family (surgical camp) and Subhash Kanna (dental camp), without forgetting the collective work of the Canadian and Indian teams who have worked with passion and dedication the last six days.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Finally, in order to thank each individual who contributed to the success of this mission, it was possible to witness a magnificent farewell ceremony at the very end. The Canadian medical team of professionals was moved by this celebration and had the opportunity to get a taste of the cultural richness of this country.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Thank you dear reader for taking the time to read us.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        See you next year.
                     </span>
</p>
<p style="text-align: center;">
<button style="border-radius: 50%; width: 200px; height: 200px; border: none; color: white; font-family: Avenir, Arial, sans-serif; font-weight: 900; font-size: 2.5rem; background: red; text-shadow: 0 3px 1px rgba(122,17,8,.8); box-shadow: 0 8px 0 #b70900, 0 15px 20px rgba(0,0,0,.35); text-transform: uppercase; transition: .4s all ease-in; outline: none; cursor: pointer; text-align: center; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);">
                        Donate Today
                     </button>
</p>
<p>
<img alt="" decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/19-1024x576.webp" width="1024"/>
</p>
<div>
<dl>
<dt>
<a href="img_3710/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3710-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_3978/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3978-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_3545/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3545-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<br style="clear: both"/>
<dl>
<dt>
<a href="img_3532/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3532-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<br style="clear: both"/>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a aria-current="page" href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
