---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     Feb 7 2024
                    </h1>
<p>
<span>
                        8 February 2024
                     </span>
</p>
</div>
<div>
<p>
<span style="font-weight: 400;">
<img alt="FFPF 2024 February Camp" decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/1-1024x576.webp" width="1024"/>
</span>
</p>
<p>
<span style="font-weight: 400;">
                        Today is the 4th day of the FFPF camp at the CRHP Jamkhed, already halfway through the camp and many patients have received the care required for a better quality of life. The Canadien team of healthcare professionals are continually adapting to their new environment, each one is extremely satisfied and blessed to be making a significant difference in the lives of the patients. Around lunch time, the communication team had the chance to meet a young patient who had received surgeries and follows-ups for more than 4 years. A hand malformation at birth is now almost a thing of the past. With a smile on her face and sparkling eyes, this young child gives us hope and inspiration every day.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Later in the evening, it was possible to take the time to chat and get to know Doctor Bruno Mastropasqua, plastic surgeon and medical director of the mission. Here is the summary of our discussions:
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Q1 What is your greatest pride at CRHP?
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        The day I go to paradise and someone asks me «show me five things you’ve done and I can let you in», I will be able to say that these are the things that I did here at the CHRP. The patients on whom I had the chance to operate and when I say «I», I include all the members of the team, because we change the flow of women’s lives. In Montreal, if it’s not me who operates, there will be another surgeon, whereas here… there is no one else to do it.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Q2 What mark would you like to leave at the CRHP?
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        As I say to my son, «First, do no harm» then after that if you can make a difference in the lives of people in a positive way, that’s a bonus… the cherry on top of a sundae.
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        Q3 What is your favorite song to listen to when operating on patients?
                     </span>
</p>
<p>
<span style="font-weight: 400;">
                        These days, I actually like Charlotte Cardin or even Billie Elish. I think it starts the day the right way.
                     </span>
<span style="font-weight: 400;">
</span>
</p>
<p>
<span style="font-weight: 400;">
</span>
</p>
<p style="text-align: center;">
<button style="border-radius: 50%; width: 200px; height: 200px; border: none; color: white; font-family: Avenir, Arial, sans-serif; font-weight: 900; font-size: 2.5rem; background: red; text-shadow: 0 3px 1px rgba(122,17,8,.8); box-shadow: 0 8px 0 #b70900, 0 15px 20px rgba(0,0,0,.35); text-transform: uppercase; transition: .4s all ease-in; outline: none; cursor: pointer; text-align: center; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);">
                        Donate Today
                     </button>
</p>
<p>
<img alt="" decoding="async" height="576" loading="lazy" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2024/02/13-1024x576.webp" width="1024"/>
</p>
<div>
<dl>
<dt>
<a href="img_3206-2/">
<img alt="" decoding="async" height="300" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3206-1-200x300.webp" width="200"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_3302-2/">
<img alt="" decoding="async" height="300" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3302-1-200x300.webp" width="200"/>
</a>
</dt>
</dl>
<dl>
<dt>
<a href="img_3194-2/">
<img alt="" decoding="async" height="200" loading="lazy" src="/wp-content/uploads/2024/02/IMG_3194-1-300x200.webp" width="300"/>
</a>
</dt>
</dl>
<br style="clear: both"/>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a aria-current="page" href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
