---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     24th Annual Freedom from Poverty Foundation Dinner – Saturday, November 11, 2023
                    </h1>
<p>
<span>
                        29 September 2023
                     </span>
</p>
</div>
<div>
<p>
                     The 24th Annual Freedom from Poverty Foundation Fundraising Dinner  is happening:
                    </p>
<div title="Page 2">
<div>
<div>
<div>
<p>
                             As you are aware that Freedom from Poverty Inc. has been in existence since 1993 and will be organizing its 2th annual gala dinner on Saturday November 11,2023 at Le Chateaubriand. We request you to please reserve that date and would love to see you at our fundraising dinner.
                            </p>
<p>
                             Thanks to your very generous donations the Foundation was able to support 5 surgical camps and numerous clinics -that were held in 2023- and we were able to treat over 1000 patients.
                            </p>
<p>
                             With our annual foundation gala occurring in November 2023, we are aiming to expand our outreach socially. Important to note that from now on, please use this email to contact the foundation for any related questions.
                            </p>
<p>
                             We are looking forward to keeping you updated more regularly about our efforts through email blasts and social media platforms.
                            </p>
</div>
</div>
<div>
<div>
<div>
<p style="text-align: center;">
                                Saturday, 11 November 2023, at
                                <br/>
                                Le Chateaubriand, 7985 Blvd Maurice-Duplessis, Montreal,QC H1E 1M5
                             </p>
<p>
<img alt="FFPF 2023 24th Gala Donate Eglish image " decoding="async" fetchpriority="high" height="620" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" src="/wp-content/uploads/2023/09/Screenshot-2023-09-29-at-4.18.37-PM-1024x620.webp" width="1024"/>
</p>
</div>
</div>
</div>
</div>
</div>
<p>
<img decoding="async" height="4101" src="https://images.unsplash.com/photo-1552532148-7d3eb03cc6a3.webp?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2734&amp;q=80" width="2734"/>
</p>
<p>
<a href="/wp-content/uploads/2023/09/ffpf-email-blas_62210214-5.pdf">
                        FFPF
                     </a>
<a href="/wp-content/uploads/2023/09/ffpf-email-blas_62210214-5.pdf">
                        2023 PDF
                     </a>
</p>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
