[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
bs4 = "*"
chardet = "*"
python-magic = "*"
lxml = "*"
pillow = "*"
beautifulsoup4 = "*"
html2text = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.9"
