---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     23nd Annual Freedom from Poverty Foundation Fundraising Dinner
                    </h1>
<p>
<span>
                        12 November 2020
                     </span>
</p>
</div>
<div>
<div>
                     The Board of Directors of the Freedom From Poverty Foundation have decided to defer this year’s annual fundraising dinner because of the ongoing Covid-19 pandemic.
                    </div>
<div>
</div>
<div>
                     In its place we will be holding an online fundraising campaign that starts this November 2020.
                    </div>
<div>
</div>
<div>
                     Please follow all of the Health authorities guidelines to keep yourselves and your families safe and we will see you all at the annual fundraiser in 2021.
                    </div>
<div>
</div>
<div>
<img decoding="async" fetchpriority="high" height="4101" src="https://images.unsplash.com/photo-1552532148-7d3eb03cc6a3.webp?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2734&amp;q=80" width="2734"/>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
