---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     24th Annual Freedom from Poverty Foundation Dinner – Saturday, November 11, 2023
                    </h1>
<p>
<span>
                        15 May 2023
                     </span>
</p>
</div>
<div>
<p>
                     The 24th Annual Freedom from Poverty Foundation Fundraising Dinner  is happening:
                    </p>
<p style="text-align: center;">
                     Saturday, 11 November 2023, at
                     <br/>
                     Le Chateaubriand, 7985 Blvd Maurice-Duplessis, Montreal,QC H1E 1M5
                    </p>
<p>
                     We invite you to come and join us for a charming, culture-filled evening that includes; music, dancing, an open bar and delicious, tantalizing Indian cuisine. Funds raised at this dinner will go towards our upcoming missions and our ongoing work to provide access to education and healthcare for those in need. Everyone on our medical team volunteers their time for free and pays for their travel
                     <br/>
                     costs.
                    </p>
<p style="text-align: center;">
                     Tickets are $125/person, with a tax receipt to be issued for the donation portion.
                     <br/>
                     Tables of ten are also available for groups.
                    </p>
<p>
                     The Freedom from Poverty Foundation, Inc. was established in Montreal in 1993. The ongoing mission of the FFPF is to improve the quality of life for the very impoverished people in India. By providing them with increased access to education and healthcare – we are helping the less fortunate break out of the cycle of poverty and therefore have a better chance at a real, productive and optimistic future.
                    </p>
<p>
                     For tickets and more info, contact Dr. Shivendra Dwivedi at (514) 946-1756 or
                     <br/>
                     email at
                     <a data-cfemail="c4a0b3adb2a1a0adb7acadb2a1aaa0b6a584acabb0a9a5ada8eaa7aba9" href="/cdn-cgi/l/email-protection">
                        [email protected]
                     </a>
                     or Mr. Dominic Talarico at; (514) 794-7800 or email at
                     <a data-cfemail="adc9d9ccc1ccdfc4cec2eddbc4c9c8c2d9dfc2c383cecc" href="/cdn-cgi/l/email-protection">
                        [email protected]
                     </a>
</p>
<p>
<img decoding="async" fetchpriority="high" height="4101" src="https://images.unsplash.com/photo-1552532148-7d3eb03cc6a3.webp?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2734&amp;q=80" width="2734"/>
</p>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/en/2019/09/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
