---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div>
<div>
<div>
<div>
<div>
<article>
<div>
<h1>
                     February 2020 Mission February 2020
                    </h1>
<p>
<span>
                        29 September 2019
                     </span>
</p>
<img alt="" height="675" sizes="(max-width: 1080px) 100vw, 1080px" src="/wp-content/uploads/2018/10/GenevieveCote-Operating-1080x675.webp" width="1080"/>
</div>
<div>
<div>
<h2>
                        February 2020
                     </h2>
</div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<h4>
<span style="color: #666666; font-size: 14px;">
                                        Our February 2020 Mission took place at the Julia Hospital in Jamkhed. Over the past year, we carried out the medical evaluation of hundreds of people, from which we selected 150 patients judged to be of the highest priority.
                                     </span>
</h4>
</div>
</div>
<div>
<div>
<h5>
                                     Here are the members who participated in the February 2020 mission
                                    </h5>
</div>
</div>
<p>
</p>
<div>
<div data-per_page="16">
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/10/VinodDargan.jpeg" title="VinodDargan">
<br/>
<img alt="VinodDargan" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/10/VinodDargan-400x284.webp"/>
</a>
</div>
<h3>
                                        Vinod Dargan
                                     </h3>
<p>
                                        Coordinator / Coordinateur: Mr. Dargan
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/AlexanderSomma-2.jpeg" title="AlexanderSomma-2">
<br/>
<img alt="AlexanderSomma-2" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/AlexanderSomma-2-400x284.webp"/>
</a>
</div>
<h3>
                                        AlexanderSomma
                                     </h3>
<p>
                                        Communication: Somma
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/PierreFortier-TanyaWolstenholme.jpeg" title="PierreFortier-TanyaWolstenholme">
<br/>
<img alt="PierreFortier-TanyaWolstenholme" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/PierreFortier-TanyaWolstenholme-400x284.webp"/>
</a>
</div>
<h3>
                                        PierreFortier TanyaWolstenholme
                                     </h3>
<p>
                                        Communication: Tanya Wolstenholme – Directeur artistique / Artistic director: Mr. Fortier
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/ClaudineLevesque.jpeg" title="ClaudineLevesque">
<br/>
<img alt="ClaudineLevesque" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/ClaudineLevesque-400x284.webp"/>
</a>
</div>
<h3>
                                        Claudine Levesque
                                     </h3>
<p>
                                        Management / Administration: Mme Levesque
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/10/BrunoMastropasqua.jpeg" title="BrunoMastropasqua">
<br/>
<img alt="BrunoMastropasqua" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/10/BrunoMastropasqua-400x284.webp"/>
</a>
</div>
<h3>
                                        Bruno Mastropasqua
                                     </h3>
<p>
                                        Plastic Surgeon / Chirurgien plastique: Dr. Mastropasqua
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/DrDwivedi.jpeg" title="DrDwivedi">
<br/>
<img alt="DrDwivedi" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/DrDwivedi-400x284.webp"/>
</a>
</div>
<h3>
                                        Dr. Dwivedi
                                     </h3>
<p>
                                        Anesthesiologist / Anesthésiste: Dr. Dwivedi
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/10/MichelineNguyen.jpeg" title="MichelineNguyen">
<br/>
<img alt="MichelineNguyen" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/10/MichelineNguyen-400x284.webp"/>
</a>
</div>
<h3>
                                        Micheline Nguyen
                                     </h3>
<p>
                                        Anesthesiologist / Anesthésiste: Dr. Nguyen
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/Stacyboivert.jpeg" title="Stacyboivert">
<br/>
<img alt="Stacyboivert" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/Stacyboivert-400x284.webp"/>
</a>
</div>
<h3>
                                        Stacy Boivert
                                     </h3>
<p>
                                        Respiratory therapist / Infirmière: Mme Boisvert
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/10/NathalieDeschenes.jpeg" title="NathalieDeschenes">
<br/>
<img alt="NathalieDeschenes" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/10/NathalieDeschenes-400x284.webp"/>
</a>
</div>
<h3>
                                        Nathalie Deschenes
                                     </h3>
<p>
                                        Nurse / Infirmière: Mme Deschênes
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/10/NathalieBrisebois.jpeg" title="NathalieBrisebois">
<br/>
<img alt="NathalieBrisebois" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/10/NathalieBrisebois-400x284.webp"/>
</a>
</div>
<h3>
                                        Nathalie Brisebois
                                     </h3>
<p>
                                        Occupational therapist / Ergothérapeute: Ms. Brisebois
                                     </p>
</div>
<div style="display: block;">
<div>
<a href="/wp-content/uploads/2018/11/Catherinegauthier.jpeg" title="Catherinegauthier">
<br/>
<img alt="Catherinegauthier" decoding="async" sizes="(max-width:479px) 479w, 100vw" src="/wp-content/uploads/2018/11/Catherinegauthier-400x284.webp"/>
</a>
</div>
<h3>
                                        Catherine Gauthier
                                     </h3>
<p>
                                        Teacher / Enseignante: Mme Gauthier
                                     </p>
</div>
</div>
<p>
</p>
<div style="display: none;">
</div>
</div>
<p>
</p>
</div>
<p>
</p>
</div>
<p>
</p>
</div>
<p>
</p>
</div>
</div>
</div>
<p>
</p>
<div>
</div>
</div>
<div>
</div>
</article>
</div>
<div>
<div>
<h4>
                    Recent Posts
                 </h4>
<ul>
<li>
<a href="/en/2024/02/09/feb-9-2024/">
                        Feb 9 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/08/feb-8-2024/">
                        Feb 8 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/07/feb-7-2024/">
                        Feb 7 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/06/feb-6-2024/">
                        Feb 6 2024
                     </a>
</li>
<li>
<a href="/en/2024/02/05/feb-5-2024/">
                        Feb 5 2024
                     </a>
</li>
</ul>
</div>
<div>
<h4>
                    Archives
                 </h4>
<ul>
<li>
<a href="/en/2024/02/">
                        February 2024
                     </a>
</li>
<li>
<a href="/en/2023/09/">
                        September 2023
                     </a>
</li>
<li>
<a href="/en/2023/06/">
                        June 2023
                     </a>
</li>
<li>
<a href="/en/2023/05/">
                        May 2023
                     </a>
</li>
<li>
<a href="/en/2022/09/">
                        September 2022
                     </a>
</li>
<li>
<a href="/en/2020/11/">
                        November 2020
                     </a>
</li>
<li>
<a href="/">
                        September 2019
                     </a>
</li>
<li>
<a href="/en/2018/11/">
                        November 2018
                     </a>
</li>
<li>
<a href="/en/2018/05/">
                        May 2018
                     </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
