---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<?xml version="1.0" encoding="UTF-8"?><html><body><rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/">
<channel>
<title>
     Comments on: 24th Annual Freedom from Poverty Foundation Dinner – Saturday, November 11, 2023
    </title>
<atom:link href="https://www.ffpf.org/2023/05/15/24th-annual-freedom-from-poverty-foundation-dinner-saturday-november-11-2023/feed/" rel="self" type="application/rss+xml">
</atom:link>
<link/>
    https://www.ffpf.org/2023/05/15/24th-annual-freedom-from-poverty-foundation-dinner-saturday-november-11-2023/
    <description>
     Freedom from poverty foundation
    </description>
<lastbuilddate>
     Sun, 31 Mar 2024 18:25:35 +0000
    </lastbuilddate>
<sy:updateperiod>
     hourly
    </sy:updateperiod>
<sy:updatefrequency>
     1
    </sy:updatefrequency>
<generator>
     https://wordpress.org/?v=6.4.3
    </generator>
</channel>
</rss>
</body></html>